In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mutta\Documents\Project 6'
path

'C:\\Users\\mutta\\Documents\\Project 6'

In [3]:
join = os.path.join(path,
                    '02 Data',
                    'Prepared Data',
                    '01 CSV',
                    '01. Sourcing Open Data',
                    'UNICEF_Databases_Severe_Wasting.csv')

In [4]:
pd.options.display.float_format = '{:.2f}'.format


df = pd.read_csv(join, index_col = False, encoding= 'unicode_escape')
df.round(2)
df.head()

,ISO,Countries and areas,UNICEF Regions,UN Regions,WHO Regions,World Bank Income Groups,Survey Years,Year*,Short Source,Full Source Title,...,Female Point Estimate,Urban Point Estimate,Rural Point Estimate,0-5 months Point Estimate,6-11 months Point Estimate,12-13 months Point Estimate,24-35 months Point Estimate,36 - 47 Point Estimate,48-59 Point Estimate,24-59 Point Estimate
0,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2004,2004,NNS,Summary report of the national nutrition surve...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2013,2013,NNS,Afghanistan National Nutrition Survey 2013,...,3.50,1.90,4.60,6.30,5.50,4.80,3.50,2.50,2.80,3.00
2,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2018,2018,Other,Afghanistan Health Survey 2018,...,1.40,1.60,1.50,2.80,2.80,2.00,1.40,0.70,0.70,0.90
3,ALB,Albania,EECA,Europe,EURO,Upper Middle Income,2005,2005,MICS,Albania multiple indicator cluster survey 2005...,...,4.20,2.20,4.50,7.40,1.00,0.90,5.20,3.70,3.80,4.20
4,ALB,Albania,EECA,Europe,EURO,Upper Middle Income,2008-09,2009,DHS,Albania demographic and health survey 2008-09....,...,4.30,6.40,5.60,12.70,5.50,5.30,5.20,5.90,5.10,5.40

In [5]:
df.describe()

,Year*,National Point Estimate,Male Point Estimate,Female Point Estimate,Urban Point Estimate,Rural Point Estimate,0-5 months Point Estimate,6-11 months Point Estimate,12-13 months Point Estimate,24-35 months Point Estimate,36 - 47 Point Estimate,48-59 Point Estimate,24-59 Point Estimate
count,896.00,896.00,745.00,745.00,587.00,586.00,696.00,706.00,706.00,717.00,717.00,717.00,661.00
mean,2007.96,1.90,2.16,1.71,1.85,2.13,3.63,3.05,2.33,1.62,1.25,1.20,1.32
std,8.70,1.68,1.83,1.52,1.62,1.84,2.94,2.76,2.15,1.61,1.37,1.29,1.26
min,1983.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,2001.00,0.70,0.80,0.60,0.70,0.80,1.40,0.90,0.70,0.50,0.40,0.40,0.50
50%,2009.00,1.40,1.70,1.30,1.30,1.60,2.80,2.30,1.80,1.20,0.80,0.80,0.90
75%,2015.00,2.60,3.00,2.40,2.50,3.00,5.30,4.47,3.30,2.20,1.70,1.60,1.80
max,2022.00,12.90,13.40,12.40,11.30,13.50,16.20,14.00,13.50,13.90,12.70,12.50,9.60

In [6]:
print(df.columns)

Index(['ISO', 'Countries and areas', 'UNICEF Regions', 'UN Regions',
       'WHO Regions', 'World Bank Income Groups', 'Survey Years', 'Year*',
       'Short Source', 'Full Source Title', 'Latest Estimate', 'Estimate Type',
       'National Point Estimate', 'Male Point Estimate',
       'Female Point Estimate', 'Urban Point Estimate', 'Rural Point Estimate',
       '0-5  months Point Estimate', '6-11 months Point Estimate',
       '12-13 months Point Estimate', '24-35 months Point Estimate',
       '36 - 47  Point Estimate', '48-59 Point Estimate',
       '24-59 Point Estimate'],
      dtype='object')

In [7]:
dimension = df.shape
print('rows:',dimension[0])
print('column:',dimension[1])

rows: 896
column: 24

In [8]:
print(df.dtypes)

ISO                             object
Countries and areas             object
UNICEF Regions                  object
UN Regions                      object
WHO Regions                     object
World Bank Income Groups        object
Survey Years                    object
Year*                            int64
Short Source                    object
Full Source Title               object
Latest Estimate                 object
Estimate Type                   object
National Point Estimate        float64
Male Point Estimate            float64
Female Point Estimate          float64
Urban Point Estimate           float64
Rural Point Estimate           float64
0-5  months Point Estimate     float64
6-11 months Point Estimate     float64
12-13 months Point Estimate    float64
24-35 months Point Estimate    float64
36 - 47  Point Estimate        float64
48-59 Point Estimate           float64
24-59 Point Estimate           float64
dtype: object