In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mutta\Documents\Project 6'
path

'C:\\Users\\mutta\\Documents\\Project 6'

In [3]:
join = os.path.join(path, '02 Data', 'Prepared Data', '01 CSV','UNICEF_Global_Databases_Databases_Wasting.csv')

In [4]:
pd.options.display.float_format = '{:.2f}'.format


df = pd.read_csv(join, index_col = False, encoding= 'unicode_escape')
df.round(2)
df.head()

,ISO,Countries and areas,UNICEF Regions,UN Regions,WHO Regions,World Bank Income Groups,Survey Years,Year*,Short Source,Full Source Title,...,0-23 Point Estimate,0-23 Sample Size,24-35 Point Estimate,24-35 Sample Size,36-47 Point Estimate,36-47 Sample Size,48-59 Point Estimate,48-59 Sample Size,24-59 Point Estimate,24-59 Sample Size
0,AFG,Afghanistan,SA,Asia,EMRO,Low Income,1997,1997,MICS,Afghanistan 1997 multiple indicator baseline (...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2004,2004,NNS,Summary report of the national nutrition surve...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2013,2013,NNS,Afghanistan National Nutrition Survey 2013,...,12.60,1801308.75,8.70,836250.00,6.60,821790.25,6.40,787946.06,7.30,2445986.25
3,AFG,Afghanistan,SA,Asia,EMRO,Low Income,2018,2018,Other,Afghanistan Health Survey 2018,...,8.20,7593.22,3.70,3955.94,2.80,4209.26,2.50,3670.15,3.00,11835.35
4,ALB,Albania,EECA,Europe,EURO,Upper Middle Income,2005,2005,MICS,Albania multiple indicator cluster survey 2005...,...,7.70,374.95,5.80,207.62,7.70,226.69,7.60,266.07,7.10,700.38

In [5]:
df.describe()

,Year*,National Point Estimate,National Sample Size,Male Point Estimate,Male Sample Size,Female Point Estimate,Female Sample Size,Urban Point Estimate,Urban Sample Size,Rural Point Estimate,...,0-23 Point Estimate,0-23 Sample Size,24-35 Point Estimate,24-35 Sample Size,36-47 Point Estimate,36-47 Sample Size,48-59 Point Estimate,48-59 Sample Size,24-59 Point Estimate,24-59 Sample Size
count,1054.00,1054.00,871.00,750.00,718.00,750.00,718.00,589.00,576.00,588.00,...,660.00,646.00,720.00,703.00,720.00,704.00,720.00,703.00,661.00,647.00
mean,2006.19,6.62,2715939069.45,6.96,1778328441.97,5.84,1516317969.57,5.85,4572681.23,6.65,...,8.68,1487147055.40,5.47,799369025.05,4.67,711154796.10,5.02,486120046.63,4.98,2170542031.46
std,9.43,4.90,80003770078.95,4.98,47567587711.54,4.19,40548513960.07,4.18,102431056.31,4.88,...,5.89,37733416133.07,4.26,21160297957.15,3.87,18833880691.23,4.15,12855122782.01,3.93,55102887870.50
min,1983.00,0.00,267.00,0.20,126.00,0.00,141.00,0.20,48.84,0.00,...,0.00,75.13,0.00,51.00,0.00,59.25,0.00,51.00,0.00,180.26
25%,1999.00,2.70,3034.87,2.80,1611.29,2.40,1573.52,2.50,870.16,2.70,...,3.80,1331.98,2.00,606.96,1.80,640.67,1.88,596.44,1.90,1870.37
50%,2007.00,5.50,5771.96,5.90,2951.05,5.00,2850.72,4.90,1887.71,5.40,...,7.65,2366.48,4.50,1153.38,3.60,1171.78,3.90,1088.00,4.00,3430.28
75%,2014.00,9.50,13963.41,9.90,6603.95,8.40,6405.05,8.30,4590.99,9.30,...,11.90,5221.91,7.90,2481.23,6.70,2505.93,7.20,2268.03,7.00,7126.79
max,2022.00,25.30,2361130000000.00,29.20,1274600000000.00,22.90,1086520000000.00,22.90,2458296832.00,25.70,...,28.90,959054000000.00,25.10,561048000000.00,24.70,499720000000.00,29.20,340843000000.00,23.40,1401610000000.00

In [6]:
print(df.columns)

Index(['ISO', 'Countries and areas', 'UNICEF Regions', 'UN Regions',
       'WHO Regions', 'World Bank Income Groups', 'Survey Years', 'Year*',
       'Short Source', 'Full Source Title', 'Latest Estimate', 'Estimate Type',
       'National Point Estimate', 'National Sample Size',
       'Male Point Estimate', 'Male Sample Size', 'Female Point Estimate',
       'Female Sample Size', 'Urban Point Estimate', 'Urban Sample Size',
       'Rural Point Estimate', 'Rural Sample Size', '0/5 Point Estimate',
       '0-5 Sample Size', '6-11 Point Estimate', '6-11 Sample Size',
       '12-23 Point Estimate', '12-23 Sample Size', '0-23 Point Estimate',
       '0-23 Sample Size', '24-35 Point Estimate', '24-35 Sample Size',
       '36-47 Point Estimate', '36-47 Sample Size', '48-59 Point Estimate',
       '48-59 Sample Size', '24-59 Point Estimate', '24-59 Sample Size'],
      dtype='object')

In [7]:
dimension = df.shape
print('rows:',dimension[0])
print('column:',dimension[1])

rows: 1054
column: 38

In [8]:
print(df.dtypes)

ISO                          object
Countries and areas          object
UNICEF Regions               object
UN Regions                   object
WHO Regions                  object
World Bank Income Groups     object
Survey Years                 object
Year*                         int64
Short Source                 object
Full Source Title            object
Latest Estimate              object
Estimate Type                object
National Point Estimate     float64
National Sample Size        float64
Male Point Estimate         float64
Male Sample Size            float64
Female Point Estimate       float64
Female Sample Size          float64
Urban Point Estimate        float64
Urban Sample Size           float64
Rural Point Estimate        float64
Rural Sample Size           float64
0/5 Point Estimate          float64
0-5 Sample Size             float64
6-11 Point Estimate         float64
6-11 Sample Size            float64
12-23 Point Estimate        float64
12-23 Sample Size           float64
0-23 Point Estimate         float64
0-23 Sample Size            float64
24-35 Point Estimate        float64
24-35 Sample Size           float64
36-47 Point Estimate        float64
36-47 Sample Size           float64
48-59 Point Estimate        float64
48-59 Sample Size           float64
24-59 Point Estimate        float64
24-59 Sample Size           float64
dtype: object